<DIV>
    <FORM action="/loggedin/myprofile"><BUTTON type= "submit">My Profile</BUTTON></FORM>
    <FORM action="/users/logout"><BUTTON type= "submit">Logout</BUTTON></FORM>
</DIV>
<h1 >Matcha</h1>
<p >Welcome to matcha: <%= user.username %></p>

<p>Profile Pic Down Here</p>