<DIV>
    <FORM action="/users/logout"><BUTTON type= "submit">Logout</BUTTON></FORM>
</DIV>

<DIV>
    <FORM action="/loggedin/people"><BUTTON type= "submit">People</BUTTON></FORM>
</DIV>

<DIV>
    <FORM action="/loggedin/notifications"><BUTTON type= "submit">notifications</BUTTON></FORM>
</DIV>

<div style="text-align: center">
    <h1 >Matcha</h1>
        <img src="../blankprofile.png" style="border-radius: 50%;width:100px;height:100px">
    <p><%= user.username %></p>
    <FORM action="/loggedin/myprofile"><BUTTON type= "submit">My Profile</BUTTON></FORM>
</div>