<div>
    <form action="/users/login" method="POST">
        Username/Email: <input 
        type= "text" 
        name="userormail" 
        placeholder="Enter your username/email" 
        value="<%= typeof userorname != 'undefined' ? username : '' %>"
        />
        Password: <input 
        type= "password" 
        name="pass" 
        placeholder="Enter your password" 
        />
        <button type="submit">Login</button>
    </form>
    No Account? <a href="/users/register">Register</a>
</div>