<h2>Please update your password! </h2>
<FORM action="/users/resetform?token=<%= token%>"method= "POST">
    <INPUT type="password" name= "pass" placeholder="Enter new email"/>
    <INPUT type="password" name= "cpass" placeholder="Confirm new email"/>
    <INPUT type= "submit" name= "subemail" placeholder="Submit"/>
</FORM>