<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <DIV style="padding: 10px;">
        <h1 style="float:left;padding-right: 10px;">Matcha </h1>
        <FORM style="float:left;padding-top: 20px"><img src="../<%=user['profile_pic']%>" style="border-radius: 50%;width:50px;height:50px;padding: 10px;"></FORM><BR />
        <%if (profile == "complete"){ %>
            <FORM style="float:left;padding-top: 15px" action="/loggedin/home"><BUTTON type= "submit">Browse</BUTTON></FORM>
            <FORM style="float:left;padding-top: 15px" action="/loggedin/myprofile"><BUTTON type= "submit">My Profile</BUTTON></FORM>
            <FORM style="float:left;padding-top: 15px" action="/loggedin/visits"><BUTTON type= "submit"> Visits</BUTTON></FORM>
            <FORM style="float:left;padding-top: 15px" action="/loggedin/notifications"><BUTTON type= "submit">Notifications <P id="not"></P></BUTTON></FORM>
            <FORM style="float:left;padding-top: 15px" action="/loggedin/chat/connections"><BUTTON type= "submit">Chat</BUTTON></FORM>
            <FORM style="float:left;padding-top: 15px" action="/users/logout"><BUTTON type= "submit">Logout</BUTTON></FORM>
        <% } %>
        <% if (profile == "incomplete") { %>
            <FORM style="float:left;padding-top: 15px" action="/loggedin/myprofile"><BUTTON type= "submit">My Profile</BUTTON></FORM>
            <FORM style="float:left;padding-top: 15px" action="/users/logout"><BUTTON type= "submit">Logout</BUTTON></FORM>
        <% } %>
    </DIV>
    <br />
    <br /><br />
    
    <h4 style="color:red;"><%= msg %></h4>
    
    <h1 style="padding-left: 200px;">SEARCH</h1>
    
    <div>
        choose prefered gender
        <select name="gender" id="gender" onclick="c()">
            <option >all</option>
            <option >male</option>
            <option >female</option>
        </select>
        choose age group
        <select name="age" id="age" onclick="c()">
            <option >18 - 30</option>
            <option >31 - 40</option>
            <option >41 - 50</option>
            <option >51 - 60</option>
            <option >61 and above</option>
        </select>
        popularity
        <select name="popularity" id="popularity" onclick="c()">
            <option >0</option>
            <option >1</option>
            <option >2</option>
            <option >3</option>
            <option >4</option>
            <option >5</option>
            <option >6</option>
            <option >7</option>
            <option >8</option>
            <option >9</option>
            <option >10</option>
        </select>

        number of matching tags
        <select name="tags" id="tags" onclick="c()">
            <option >0</option>
            <option >1</option>
            <option >2</option>
            <option >3</option>
            <option >4</option>
            <option >5</option>
            <option >6</option>
            <option >7</option>
            <option >8</option>
            <option >9</option>
            <option >10</option>
            <option >11</option>
            <option >12</option>
            <option >13</option>
            <option >14</option>
            <option >15</option>
            <option >16</option>
            <option >17</option>
            <option >18</option>
            <option >19</option>
            <option >10</option>


        </select>

        location
        <select name="location" id="location" onclick="c()">
            <option >100km</option>
            <option >90km</option>
            <option >80km</option>
            <option >70km</option>
            <option >60km</option>
            <option >50km</option>
            <option >40km</option>
            <option >30km</option>
            <option >20km</option>
            <option >10km</option>

        </select>
        sort by
        <select name="sort" id="sort" onclick="c()">
            <option >age</option>
            <option >loction</option>
            <option >popularity</option>
            <option >tag</option>
        </select>
    </div>
    <div>
        <p  id = "results"> do SEARCH</p>
       

    </div>
    
    <script>
        (function (delay, callback) {
            var loop = function () {
                callback();
                setTimeout(loop, delay);    
            }; loop();
        })(10000,function () {
            xhttp = new XMLHttpRequest();
            xhttp.open("GET","/loggedin/chat/update", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("c").innerHTML = this.responseText;
                    }
                }
            }
    })
    </script>

    <script>
        (function (delay, callback) {
            var loop = function () {
                callback();
                setTimeout(loop, delay);    
            }; loop();
        })(10000,function () {
            xhttp = new XMLHttpRequest();
            xhttp.open("GET","/loggedin/notifications/read", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("not").innerHTML = this.responseText;
                    }
                }
            }
    })
</script>

    <script>
        function c() {
            var  gender =  document.getElementById("gender").options[ document.getElementById("gender").selectedIndex].text;
            var age = document.getElementById("age").options[ document.getElementById("age").selectedIndex].text;
            var tags = document.getElementById("tags").options[ document.getElementById("tags").selectedIndex].text;
            var sort = document.getElementById("sort").options[ document.getElementById("sort").selectedIndex].text;
            var location = document.getElementById("location").options[ document.getElementById("location").selectedIndex].text;
            var popularity = document.getElementById("popularity").options[ document.getElementById("popularity").selectedIndex].text;
            var xhttp;
            var r;

            xhttp = new XMLHttpRequest()
            xhttp.open('GET', '/loggedin/research?gender='+gender+'&age='+age+'&tags='+tags+'&sort='+sort+'&popularity='+popularity+'&location='+location, true);
            xhttp.setRequestHeader("Content-type", "appliction/x-www-form-urlencoded");
            xhttp.send("N=8");
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                r = JSON.parse(this.responseText);
                i = "";
                r.forEach(e => {
                    if( e["online"] == 1)
                        i = i + "<br> <a href='/loggedin/viewprofile?id="+e["id"]+"'><img src='../"+e['profile_pic']+"' style='border-radius: 50%;width:100px;height:100px'></a><h5 style='color: blue';>online</h5><h3>"+ e["username"] +"</h3><p>:bio "+e["bio"]+"</p>";
                    else
                        i = i + "<br> <a href='/loggedin/viewprofile?id="+e["id"]+"'><img src='../"+e['profile_pic']+"' style='border-radius: 50%;width:100px;height:100px'></a><h5 style='color: blue';>offline</h5><h3>"+ e["username"] +"</h3><p>:bio "+e["bio"]+"</p>";
                });
                document.getElementById("results").innerHTML = "<div style='text-align: center;'>"+i+"</div>";
                }
             }


            
            //console.log(y[gender].text );
        }
        if ('geolocation' in navigator){
            console.log('geo available');
            navigator.geolocation.getCurrentPosition( pos =>{
                var lat = pos.coords.latitude;
                var lon = pos.coords.longitude;
                var xhttp;
                xhttp = new XMLHttpRequest();
                xhttp.open("POST","/loggedin/geolocation?lat="+lat+"&lon="+lon, true);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send();
            });
        } else {
                var lat = undefined;
                var lon = undefined;
                xhttp = new XMLHttpRequest();
                xhttp.open("POST","/loggedin/geolocation?lat="+lat+"&lon="+lon, true);
                xhttp.send();
                console.log('geo unavailable');
                console.log('geo unavailable');
        }
    </script>
    <!-- <script defer src="http://localhost:3001/socket.io/socket.io.js"> </script>
        <script  defer src="../script.js" > </script> -->
</body>
</html>