<h2>Please enter your email address </h2>
<FORM action="/users/reset"method= "POST">
    <INPUT type="text" name= "email" placeholder="Enter your email"/>
    <INPUT type= "submit" name= "subemail" placeholder="Submit"/>
</FORM>