<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Matcha</h1>
<div>
    <a href="/users/register">Register</a> </br>
    <a href="users/login">Login</a> </br>
    <a href="users/reset">Forgot Password?</a>
</div>

</body>
</html>