<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

        <div class="container" >
            <h1 class="welcome-text">Welcome To Mita</h1>
            <div class="welcome-links">
                
                <a href="/users/register">Register</a> </br>
                <a href="users/login">Login</a> </br>
                <a href="users/reset">Forgot Password?</a>
            </div>
           
        </div>
</body>
</html>